h1 {
  color: #003300;
  font-family: monospace;
  font-size: 40px
}
p {
  color: #006600;
}
#Firstp {
  color: rgb(51, 204, 51);
}
h2 {
  color: #003300;
  font-family: monospace;
  font-size: 40px
}
h3 {
  color: #003300;
  font-family: monospace;
  font-size: 30px
}
li {
  color: #00ff00;
}
BODY {
background-image: url("Drip.jpg");
}
